* {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #438ba4;
}

.board-container {
  width: 85vh;
  height: 85vh;
  border: 18px solid #244f5f;
}

.board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.square {
  width: 12.5%;
  height: 12.5%;
}

.square-black {
  background-image: url(./assets/back-black.png);
}

.square-white {
  background-image: url(./assets/back-white.png);
}

.board-square {
  width: 100%;
  height: 100%;
}

.piece-container {
  cursor: grab;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.piece {
  max-width: 70%;
  max-height: 70%;
}

.promote-square {
  width: 50%;
  height: 50%;
}

.toChoose {
  cursor: pointer;
}

.vertical-text {
  margin: 0 20px;
  text-orientation: upright;
  writing-mode: vertical-lr;
  font-family: sans-serif;
  padding: 10px;
  color: white;
}

.vertical-text button {
  margin: 20px 0;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
  border: none;
  border-radius: 17px;
  background: #438ba4;
  box-shadow: inset 5px 5px 10px #306476, inset -5px -5px 10px #56b2d2;
}

.vertical-text span {
  margin: 0;
  padding: 20px;
  font-size: 15px;
  font-weight: 600;
}

.reset-button,
.undo-button {
  position: absolute;
  bottom: 4em;
  left: 5em;
  cursor: pointer;
  outline: none;
  padding: 16px;
  color: white;
  border: none;
  border-radius: 50%;
  background: #438ba4;
  box-shadow: 6px 6px 20px #316578, -6px -6px 20px #55b1d0;
}

.undo-button {
  bottom: 12em;
}

.reset-icon,
.undo-icon {
  width: 37px;
  position: relative;
  top: 3px;
}
